/MyLib/nbproject/private/
/MyApp/nbproject/private/
/MyLib/dist/
/MyLib/build/
/MyApp/build/
/MyApp/dist/
/Permutations/build/
/Permutations/dist/
/Permutations/nbproject/private/
/Suffix Array/build/
/Suffix Array/nbproject/private/
/HackerRank Exercises/ICPCTeam/nbproject/private/
/HackerRank Exercises/Algorithms/ICPCTeam/build/
/HackerRank Exercises/Algorithms/ChocolateFeast/nbproject/private/
/HackerRank Exercises/Algorithms/ChocolateFeast/build/
/HackerRank Exercises/Algorithms/ServiceLane/nbproject/private/
/HackerRank Exercises/Algorithms/ServiceLane/build/
/HackerRank Exercises/Algorithms/LibraryFine/nbproject/private/
/HackerRank Exercises/Algorithms/LibraryFine/build/
/HackerRank Exercises/Algorithms/SherlockAndSquares/nbproject/private/
/HackerRank Exercises/Algorithms/SherlockAndSquares/build/
/HackerRank Exercises/Algorithms/AppendAndDelete/nbproject/private/
/HackerRank Exercises/Algorithms/AppendAndDelete/build/