body {
	background-color: #AEB6BF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#container {
	background-color: #D6DBDF;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	text-align: center;
	padding: 10px;
}

h1, h3 {
	margin: 0;
}

#content {
	padding: 10px 10px 10px 20px;
	height: 140px;
	display: table-cell;
	vertical-align: top;
}

#players {
	width: 760px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}


#loot {
	width: 760px;
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}

#splits {
	clear: both;
	width: inherit;
	min-height: 525px;
	align-items: center;
}

#playerNames, #lootNames {
	font-size: 14px;
	font-weight: normal;
	resize: none;
	overflow-y: scroll;
}

.splitHolder button {
	cursor: pointer;
}

.splitHolder {
	padding: 0px 10px 10px 30px;
}

.content .splitHolder {
	position: absolute;
	bottom: 0;
}